<style>
	p, h1, h2, h3, h4 {
		color:white;
	}
</style>
<br><br>
	<div class="row center">
	    <% @boxes.each do |box| %>
	    	<div class="col-md-12">
		        <h1><%= box.title %></h1><br>
		        <h2><%= box.description %></h2><br>
		        <h3><%= number_to_currency(box.price) %></h3><br><br><br><br><br><br><br>
		        <p class="center">
		        	<%= link_to "Buy Now", new_box_order_path(box), class: 'btn btn-default btn-danger', data: { no_turbolink: true } %>
		        </p><br>
		        <p>Or discover more about the products inside the box.</p><br>
		        <div class="center">
		        	<%= link_to "Discover the Products", products_path, class: 'btn btn-default' %>
		        </div>
		    </div>
	    <% end %>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
  $('body').addClass('bg-image');    
</script>
