<p id="notice"><%= notice %></p>

<p>
  <strong><%= @product.title %></strong>
</p>

<%= image_tag @product.image.url(:medium) %>

<p>
  <%= @product.description %>
</p>

<%= link_to 'Back', products_path %>
