<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4">

		<div class="thumbnail">
			<%= image_tag @product.image.url(:medium) %>
		</div>

		<h3>
		  <strong><%= @product.title %></strong>
		</h3>

		<div class="star-rating" data-score= <%= @avg_rating %>></div>
		<p>
			<%= "#{@reviews.length} reviews" %>
		</p>

		<p>
			<strong>Produced by </strong><%= @product.producer %>
		</p>

		<% if user_signed_in? %>
			<p><%= link_to "Write a review", new_product_review_path(@product), class: "btn btn-default" %></p>
		<% end %>

		<div class="thumbnail">
			<iframe
			  width="100%"
			  height="250px"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBVDNhH64dhMTwCPxNZ5o1G6FJmRxDza8E
			    &q=<%= @product.producer_address.parameterize %>&zoom=5">
			</iframe>
		</div>
	</div>

	<div class="col-md-8">

		<h4>Product Description</h4>

		<p>
		  <%= h(@product.description).gsub(/\n/, '<br/>').html_safe %>
		</p>

		<% if @reviews.blank? %>
			<% if user_signed_in? %>
				<h3>No reviews yet. Be the first to write one!</h3>
			<% end %>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</thead>
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<h4>
									<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
								</h4>
								<p>
									<%= review.created_at.strftime("%-d/%-m/%-y") %></p>
							</td>
							<td>
								<div class="star-rating" data-score= <%= review.rating %>></div>
								<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

								<% if user_signed_in? %>
									<% if (review.user == current_user) || (current_user.admin?) %>
										<%= link_to "Edit", edit_product_review_path(@product, review) %>
										<%= link_to "Delete", product_review_path(@product, review), method: :delete %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>

	</div>
</div>

<%= link_to 'Back', products_path %>

<script>
	$('.star-rating').raty({path: 'https://s3.amazonaws.com/liqueurbox/stars',
	readOnly: true,
	score: function() {
    	return $(this).attr('data-score');
  	}
  });
</script>
